<div class="container" fxLayout="column">
  <div class="header" fxFlex="24px" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleBold)"><mat-icon>format_bold</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleItalic)"><mat-icon>format_italic</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleStrikethrough)"><mat-icon>format_strikethrough</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleUnorderedList)"><mat-icon>format_list_bulleted</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleOrderedList)"><mat-icon>format_list_numbered</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.TogglePreview)"><mat-icon>check_box</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.DrawLink)"><mat-icon>attach_file</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleBlockquote)"><mat-icon>format_quote</mat-icon></button>
    <button mat-icon-button (click)="sendCommand(MarkdownCommand.ToggleCodeBlock)"><mat-icon>code</mat-icon></button>
  </div>

  <div class="hint" fxFlex="24px">Editor</div>

  <div class="editor" fxFlex="calc((100vh - 49px) / 2)">
    <textarea appMarkdownEditor [(ngModel)]="content" (ngModelChange)="contentChange.emit($event)" #editor="markdownEditor"></textarea>
  </div>

  <div class="hint" fxFlex="24px">Preview</div>

  <div class="preview" fxFlex="calc((100vh - 49px) / 2 - 50px)">
    <app-markdown-preview [content]="content"></app-markdown-preview>
  </div>
</div>
