/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.CodeMirror,
.CodeMirror-scroll {
  border: none !important;
  padding: 0 !important;
  max-height: calc((100vh - 24px) / 2) !important;
  min-height: calc((100vh - 36px) / 2) !important;
}
